<div class="well">
    <div class="row-fluid">
        <div class="span5">
            <img class="img-polaroid" style="max-width: 90%"
                 src="http://findicons.com/files/icons/760/hand_drawing/96/user_admin.png">
        </div>
        <div class="span5">
            <h4>{{ username }}</h4>
        </div>
        <div class="span2">
            <div class="btn-group btn-group-vertical pull-right">
                <button type="button" class="btn" id="edit"><i class="icon-edit"></i>
                </button>
                <button type="button" class="btn" id="remove"><i class="icon-remove-circle"></i>
                </button>
                <button type="button" class="btn" id="check"><i class="icon-check"></i>
                </button>
            </div>
        </div>
    </div>
</div>
