<button class="btn btn-primary pull-left add-users"><i class="icon-plus icon-white"></i> Add users</button>
<button class="btn btn-success pull-right new-group"><i class="icon-plus icon-white"></i> New User Group</button>