<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3>Add users</h3>
</div>
<div class="modal-body">
    <div class="row-fluid">
        <div class="span12">
            <form class="form-search pull-left">
                <label>Search users:</label>
                <input type="text" class="input-medium" name="search-users">
                <img src="/static/img/loading.gif" class="anim">
            </form>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="search-results"></div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href="#peoples" class="btn btn-primary">Save changes</a>
</div>
