{% load account_tags %}
{% load gravatar %}
<ul class="nav pull-right">
    {% if request.user.is_authenticated %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {% gravatar user.email 20 %}
                {% user_display request.user %}
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li><a href="{% url account_settings %}"><i class="icon-user"></i> Dashboard</a></li>
                <li class="divider"></li>
                <li><a href="{% url account_logout %}"><i class="icon-off"></i> Log out</a></li>
            </ul>
        </li>
    {% else %}
        <li><a href="#"><i class="icon-question-sign icon-white"></i> How it works</a></li>
        <li><a href="{% url account_login %}"><i class="icon-lock icon-white"></i> Log in</a></li>
        {% if ACCOUNT_OPEN_SIGNUP %}
            <li><a href="{% url account_signup %}"><i class="icon-user icon-white"></i> Sign up</a></li>
        {% endif %}
    {% endif %}
</ul>
