{% load i18n %}

<div class="footer">
    <div class="container">
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid menu">
                    <div class="span3">
                        <h5>main</h5>
                        <ul class="unstyled">
                            <li><a href="#">Start here</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Meet Ups</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <h5>company</h5>
                        <ul class="unstyled">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Directory</a></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <h5>developers</h5>
                        <ul class="unstyled">
                            <li><a href="#">About</a></li>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Support</a></li>
                            <li><a href="#">Jobs</a></li>
                            <li><a href="#">Directory</a></li>
                        </ul>
                    </div>
                    <div class="span3">
                        <h5>Sponsors</h5>
                        <ul class="unstyled">
                            <li><a href="#">Start here</a></li>
                            <li><a href="#">Portfolio</a></li>
                            <li><a href="#">Meet Ups</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Contacts</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="row-fluid right-block">
                    <div class="span6 offset8">
                        <div class="pull-right">
                            <p>Social icons</p>
                            <br>
                            <br>
                            <br>
                            <p>{% trans "&copy; 2012 &lt;MicroTrud&gt;" %}</p>
                            <a href="#">Privacy Policy</a> &#8226; <a href="#">Terms of Service</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
