<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js ui-mobile-rendering" lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">

    <!-- Use the .htaccess and remove these lines to avoid edge case issues.
         More info: h5bp.com/i/378 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Studlighter.com - Online-testing platform</title>
    <meta name="description" content="Marionette and Require.js Boilerplate Library">

    <!-- Mobile viewport optimized: h5bp.com/viewport -->
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width">

    <!--Detect if the browser is a mobile browser or a desktop browser and conditionally include your JavaScript -->
    <script>

        //  Global Options Available anywhere in application. Suppose tu contain only initial data from the server.
        window.settings = {};
        window.settings['STATIC_URL'] = '{{STATIC_URL}}';
        window.settings['main_menu'] = [
            { name: 'Main', id: 'index', 'state': 'active'},
            { name: 'Peoples', id: 'peoples', 'state': null},
            { name: 'Questions', id: 'questions', 'state': null},
            { name: 'Assasments', id: 'so_on', 'state': null},
            { name: 'Results', id: 'and_so_on', 'state': null}
        ];

        window.settings['header_menu'] = [
            { name: 'Main', id: 'index', 'state': 'active'},
            { name: 'Peoples', id: 'peoples', 'state': null},
            { name: 'Statistic', id: 'statistic', 'state': null},
            { name: 'So on', id: 'so_on', 'state': null},
            { name: 'And so on', id: 'and_so_on', 'state': null}
        ];

        // Mobile/Desktop Detection script
        (function (ua, w, d) {

            // Listen to the DOMContentLoaded Event (Supported in IE9+, Chrome Firefox, Safari)
            w.addEventListener("DOMContentLoaded", function () {
                // Mobile JavaScript

                if ((/iPhone|iPod|iPad|Android|BlackBerry|Opera Mini|IEMobile/).test(ua)) {
                    loadFiles({
                        "css": ["{{STATIC_URL}}css/libs/jquery.mobile.css"],
                        // Change this to "js/app/config/MobileInit.min" for production
                        "data-main": "{{STATIC_URL}}js/app/config/MobileInit",
                        "requirejs": "{{STATIC_URL}}js/libs/require.js"
                    }, function () {
                        // After both the mobile css and Require.js are loaded, the css file used for both mobile and desktop is loaded
                        loadCss(["{{STATIC_URL}}css/commonstyles.css"]);
                    });
                }
                // Desktop JavaScript
                else {
                    loadFiles({
                        "css": [ "{{STATIC_URL}}css/bootstrap.css" ,
                            "{{STATIC_URL}}css/bootstrap-responsive.min.css"
                            //"css/perfectum/style.css",
                        ],
                        // Change this to "js/app/config/DesktopInit.min" for production
                        "data-main": "{{STATIC_URL}}js/app/config/DesktopInit",
                        "requirejs": "{{STATIC_URL}}js/libs/require.js"
                    }, function () {
                        // After both the desktop css and Require.js are loaded, the css file used for both mobile and desktop is loaded
                        loadCss([
                            "{{STATIC_URL}}css/commonstyles.css",
                            "{{STATIC_URL}}css/bootstrap-backbone.forms.css",
                            "{{STATIC_URL}}css/libs/plugins/jquery.pnotify.default.css",
                            "{{STATIC_URL}}css/libs/plugins/bootstrap-modal.css"
                        ]);
                    });
                }

                function loadCss(urls, callback) {
                    var x, link;

                    for (x = 0; x <= urls.length - 1; x += 1) {
                        link = d.createElement("link");
                        link.type = "text/css";
                        link.rel = "stylesheet";
                        link.href = urls[x];
                        d.querySelector("head").appendChild(link);
                    }
                    if (callback) callback();
                }

                function loadRequireJS(obj, callback) {
                    var script = d.createElement('script');
                    script.setAttribute("data-main", obj["data-main"]);
                    script.src = obj.src;
                    d.body.appendChild(script);
                    if (callback) callback();
                }

                function loadFiles(obj, callback) {
                    // Loads the jQuery Mobile CSS file
                    loadCss(obj.css, function () {
                        // Loads Require.js and tells Require.js to find the mobile intialization file
                        loadRequireJS({ "data-main": obj["data-main"], "src": obj.requirejs }, callback);
                    });
                }

            }, false);

        })(navigator.userAgent || navigator.vendor || window.opera, window, window.document);
    </script>

</head>
<body>
 <div class="page-container">
<div data-role="page">

    <header data-role="header"></header>

    <div class="container-fluid">
        <div class="row-fluid">

            <!-- main menu region: start-->
            <div class="span2">
                <div id="main_menu" class="well sidebar-nav">
                </div>
            </div>
            <!-- main menu region: end-->


            <!-- main region: start-->
            <div id="main" class="span10" data-role="content"></div>
            <!-- main region: end-->
        </div>
    </div>

    <footer data-role="footer" class="footer navbar navbar-fixed-bottom">
        <p>© 2012 &lt;StudLighter&gt; All right reserved.</p>
    </footer>

    <div class="modal hide fade container" data-width="760" tabindex="-1"></div>

</div>
</div>
<!-- /page -->

</body>
</html>