{% load static %}
{% load url from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
    <head>
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} | {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        {% block viewport %}
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% endblock %}

        {% block style_base %}
            <!-- Bootstrap -->
            <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
            <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet" media="screen">
            {# <link href="{% static 'css/custom.css' %}" rel="stylesheet" media="screen"> #}

            <link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
            {% block extra_style %}{% endblock %}
        {% endblock %}

        {% block html5shim %}
            <!-- HTML5 shim, for IE6-8 support of HTML elements -->
            <!--[if lt IE 9]>
                <script src="{% static "js/html5shiv.js" %}"></script>
            <![endif]-->
        {% endblock %}

        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
        {% endblock %}
    </head>
    <body class="{% block body_class %}{% endblock %}" id="{% block body_id %}{% endblock %}">
        <div class="{% block wrapper_class %}{% endblock %}">

            {% block topbar_base %}
                <div class="navbar {% block navbar_class %}navbar-static-top{% endblock %}">
                    <div class="navbar-inner">
                        <div class="container">
                            {% block topbar %}
                                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                                {% block site_brand %}<a class="brand" href="{% url "home" %}">MicroTrud</a>{% endblock %}
                                <div class="nav-collapse">
                                    {% block nav %}
                                            <ul class="nav">
                                                <li><a href="#tab_one">Best</a></li>
                                                <li><a href="#tab_two">New</a></li>
                                                <li><a href="#tab_two">Stuff Pick</a></li>
                                            </ul>
                                    {% endblock %}
                                    {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                                </div>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            {% endblock %}

            {% block body_base %}
                    {% include "_messages.html" %}
                    {% block body %}
                        {% block banner %} {% endblock %}
                        {% block content %} {% endblock %}
                    {% endblock %}
                {% block footer_base %}
                    <hr />
                    <footer>
                        {% block footer %}{% endblock %}
                    </footer>
                {% endblock %}
            {% endblock %}
        </div>

        {% block script_base %}
            <!--JS Scripts-->
            <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
            <script src="{% static 'js/theme.js' %}"></script>
            <script src="{% static 'js/bootstrap.min.js' %}"></script>
            {% block extra_script %}{% endblock %}
        {% endblock %}

        {% block extra_body_base %}
            {% block extra_body %}{% endblock %}
        {% endblock %}
        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-38696690-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();

        </script>
    </body>
</html>
