<div id='toolbar'>
  
</div>
<br>
<div id='questions'>
	<table class="table table-striped">
	        <thead>
                <tr>
                  <th>#</th>
                  <th>Tags</th>
                  <th>Question</th>
                </tr>
            </thead>
    </table>
</div>
