 #questions tr {
	cursor: pointer;
}

.delete-button{
	margin-left: 200px;
}

.save-button{
	margin-right: 100px;
}

#people .span4:nth-child(3n+1) {
    margin-left: 0;
}

#toolbar {
    margin-bottom: 20px;
}

.groups li {
    cursor: pointer;
}