
body {
    font-family: 'Open Sans', sans-serif;
}
/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}
.container > hr {
    margin: 60px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    padding: 80px 0;
    text-align: center;
    background: url("../img/gray_jean.png");
}
.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
}
.jumbotron .lead {
    font-size: 24px;
    line-height: 1.25;
}
.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 60px 0;
}
.marketing p + h4 {
    margin-top: 28px;
}

/* This block contains all content of views  */
.main-content {
    min-height: 1000px;
}

/* Customize the navbar links to be fill the entire space of the .navbar */
.navbar {
    margin-bottom: 0;
}

.navbar .navbar-inner {
    height: 50px;
    background: url('../img/classy_fabric.png');
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
/*.navbar .nav, .navbar .nav li {
    height: 50px;
}
*/.navbar .nav li a {
    height: 25px;
    padding-top: 15px;
}
.navbar .nav li a {
    text-shadow: none;
    border-left: 1px solid rgba(0,0,0, 1);
}
.navbar .nav li a:hover {
    color: #000000;
    text-shadow: 0px 2px 3px #666;
}
.navbar .nav li:last-child a {
    border-right: 1px solid rgba(0,0,0, 1);
}
.navbar .brand {
    height: 25px;
    padding-top: 15px;
    color: ghostwhite;
    font-size: 25px;
    font-weight: bold;
    text-shadow: none;
}

/* footer */
.footer {
    background: url('../img/classy_fabric.png');
    height: 200px;
    padding-top: 20px;
    color: #ffffff;
}
.footer .menu h5 {
    color: #ffffff;
    text-transform:uppercase;
}
.footer .menu li a {
    color: #ffffff;
}

.footer .right-block{
    padding-top: 5px;;
    color: #ffffff;
    font-size: 12px;
    text-align: right;
}
.footer .right-block a {
    color: #ffffff;
}

